.reviews {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 20px;
  max-width: 1500px;
  margin: 0 auto;
}

.jumbotron {
  max-width: 1140px;
  margin: 0 auto 30px auto;
  padding: 40px 20px;
  font-size: 20px;
}

.jumbotron h1 {
  font-weight: 300;
  font-size: 7vh;
  line-height: 1.3;
  margin: 0 0 10px 0;
}

.jumbotron h1 b {
  font-weight: 600;
  background: rgba(0, 0, 0, 0.85);
  padding: 0 10px;
  color: #e9ecef /*#f9e448;*/
  /* mix-blend-mode: multiply; */
}

.jumbotron__review {
  /* text-align: right; */
}

@media (max-width: 575px) {
  .jumbotron {
    font-size: 16px;
    padding: 0 20px;
  }
}