.reviews {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 20px;
  max-width: 1500px;
  margin: 0 auto;
}

.search {
  max-width: 500px;
  margin: 30px auto;
}

.search .ant-input-search {
  border-radius: 5px;
  padding: 10px;
  background: #fdfdfd;
  border-color: #fdfdfd;
  box-shadow: rgba(0, 0, 0, 0.05) 0 0 15px;
}

.search .ant-input-search input {
  background: #fdfdfd;
}