.SubmitReview {
  max-width: 650px;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0 0 20px;
}

.year-select {
  display: grid;
  gap: 3px;
  max-width: 380px;
}

.year-select .ant-radio-button-wrapper {
  padding: 0;
}

.year-select .ant-radio-group {
  display: flex;
}

.year-select .ant-radio-group label {
  flex: 1;
  text-align: center;
}

.ant-form-item-label > label {
  max-height: none;
}

.ant-steps-item-description {
  padding-left: 5px;
}

.label-description {
  font-size: 0.8em;
  color: #3339;
  padding-left: 12px;
  position: relative;
  top: -10px;
}

.SubmitReview .ant-form-item-label > label {
  height: auto;
}

@media (max-width: 475px) {
  .ant-steps-item-tail {
    display: none !important;
  }
  .ant-steps-item-description {
    padding-top: 10px;
  }
  .ant-steps-vertical .ant-steps-item-content {
    overflow: visible;
  }
  .SubmitReview {
    padding: 10px;
  }
}

.SubmitReview .ant-radio-wrapper {
  white-space: normal;
}

/* .disclaimier {
  font-size: 12px;
  color: #3339;
} */

.SubmitReview .ant-rate-star {
  font-size: 40px;
  /* font-size: 35px;
  line-height: 0.8;
  user-select: none; */
}

.SubmitReview .ant-slider-handle {
  width: 23px;
  height: 23px;
  margin-top: -10px;
  z-index: 5;
}

.SubmitReview .ant-rate {
  color: #ffb300 !important;
}