.company-card .ant-card-body {
  display: flex;
}

/* .company-card__company-details {
  display: grid;
  grid-template-areas: 
    "image title"
    "image description"
    "stats stats";
  grid-template-rows: 70px auto;
} */

.company-card__meta {
  display: flex;
}

.company-card__main-image {
  height: 70px;
}

.company-card__detail {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.company-card__title {
  font-size: 26px;
  margin: 0 !important;
  font-weight: 700;
}

.company-card__content {
  flex: 1;
  border-left: 1px solid #e8e8e8;
  margin-left: 20px;
  padding: 20px;
}

.company-card__company-stats {
  margin: 10px 10px 0 auto;
}

.company-card__company-stat td:first-child {
  text-align: right;
  padding-right: 10px;
  color: #6e6e6e;
  font-size: 0.9em;
}

.company-card__company-stat .ant-rate {
  font-size: 27px;
  line-height: 25px;
}