.company-card {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.09) 0 0 20px;
  background: #fff;
  margin-bottom: auto;
}

.company-card__header {
  display: flex;
  /* flex-wrap: wrap; */
}

.company-card__img {
  /* width: 200px; */
  max-width: 200px;
  max-height: 70px;
  width: auto;
  height: auto;
  margin: 15px 0 auto 15px;
}

.company-card__reviews {
  padding: 10px;
}

.company-card__reviews .review-card {
  box-shadow: rgba(0, 0, 0, 0.05) 0 0 8px;
}

.company-card__more {
  text-align: right;
  padding: 0 10px;
}
/* 
.company-card__stats {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  padding: 10px 0 0 0;
} */

.company-card__title {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.company-card__name {
  margin: 3px 0 0;
}

.company-card__right > .stat .stat__content {
  font-size: 18px;
  font-weight: 600;
}

.company-card__left {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.company-card__right {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 10px 0 10px;
  justify-content: flex-end;
  align-content: center;
  text-align: center;
}