.company-card {
  display: flex;
  color: #333;
  /* padding: 10px; */
}

/* .company-card__company-details {
  display: grid;
  grid-template-areas: 
    "image title"
    "image description"
    "stats stats";
  grid-template-rows: 70px auto;
} */

.company-card__meta {
  display: flex;
}

.company-card__main-image {
  height: 70px;
}

.company-card__detail {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.company-card__title {
  font-size: 26px;
  margin: 0 !important;
  font-weight: 700;
}

.company-card__content {
  flex: 1;
  /* border-left: 1px solid #e8e8e8; */
  margin-left: 20px;
  /* padding: 20px; */
}

.company-card__company-stats {
  margin: 10px 10px 0 0;
}

.company-card__company-stats > * {
  margin-left: auto;
}

.company-card__more {
  text-align: right;
  margin-top: 3px;
  
}

/* .company-card__more a {
  color: #FFBD00;
} */

.company-card__company-stats .ant-statistic-content {
  font-weight: 700;
}

.company-card__company-stat td:first-child {
  padding-right: 10px;
  color: #7a7a7a;
  font-size: 0.9em;
  text-align: right;
}

.company-card__company-stat .ant-rate {
  color: #FFBD00;
}