.review-card__position-title {
  font-size: 20px;
  font-weight: 600;
}

.review-card__demographics {
  display: flex;
}

.review-card__position {
  padding-right: 30px;
}

.review-card__student {
  padding-top: 8px;
  /* font-style: italic; */
}