.review-card {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.05) 0 0 20px;
  background: #fff;
}

.review-card__header {
  display: flex;
}

.review-card__overall-rating {
  width: 70px;
  font-weight: 700;
  font-size: 26px;
  text-align: center;
  margin-right: 10px;
  padding-top: 4px;
  color: #333;
  position: relative;
}

.review-card__overall-rating__text {
  position: absolute;
  color: rgba(0,0,0,0.5);
  bottom: -13px;
  right: 3px;
  font-size: 13px;
  font-weight: 400;
  
}

.divisor {
  font-size: 14px;
}

.review-card__stats {
  display: flex;
}

.review-card__position {
  line-height: 18px;
  margin-bottom: 5px;
}

.review-card__team {
  color: #3339;
  font-size: 18px;
  margin-left: 10px;
  font-weight: normal;
}

.review-card__content {
  padding: 12px;
}

.review-card__footer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.review-card__tool {
  margin-right: 5px;
}

.review-card .ant-rate-star {
  margin: 0;
}

.review-card .ant-rate {
  position: relative;
  font-size: 20px;
  line-height: 12px;
}

.review-card__stats {
  padding: 10px 0 5px 0;
}

.review-card__view {
  text-align: right;
  flex: 1;
  align-self: center;
  white-space: nowrap;
}

.review-card__meta {
  flex: 1;
  text-align: right;
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding-right: 10px;
}
