@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700&display=swap');
/* @import '~antd/dist/antd.css'; */

.App {
  font-family: 'Source Sans Pro', sans-serif;
}

.App > .content {
  padding: 20px;
}

.logo {
  height: 40px;
}

.background {
  background: url('images/canary-bg2.svg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  pointer-events: none;
}

.ant-card {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.04) 0 0 20px;
  border-radius: 5px;
  display: inline-block;
}

.note {
  font-size: 12px;
  color: rgba(0,0,0,0.45);
  text-align: right;
}

.centered {
  margin: 0 auto;
}

@media (max-width: 575px) {
  .App > .content {
    padding: 15px 5px 5px;
  }
}

.headroom {
  z-index: 10 !important;
  background: #fff;
  height: 60px;
}
/* ffb300 */

::selection {
  background: rgb(76, 159, 255); 
}

.headroom .ant-menu-item {
  /* height: 100%; */
}

.headroom .ant-menu-item a {
  /* height: 100%; */
  line-height: 58px;
  font-size: 16px;
}

nav {
  display: flex;
}

footer {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}

footer > * {
  margin: 30px;
}